#todays-weather {
  background-color: cornflowerblue;
  border-radius: 20px;
  width: 90%; /*only focous on small screens for now then media query up*/
  color: white;
}

#weather-details {
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
  border-top: 1px solid white;
}

.weather-detail-item {
  display: grid;
  grid: 1fr/ 1fr 1fr;
}

.weather-detail-value {
  grid-row: 2;
  grid-column: 2;
}

.icon {
  min-width: 32px;
  width: 32px;
  height: auto;
}

.heartbeat {
  background-image: url(../Icons/heartbeat.svg);
  width: 32px;
  height: 32px;
  color: white;
}
.param-label {
  min-width: 100px;
}
#wind-details {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

#pressure-details {
  border-bottom: 1px solid white;
}

#feels-like-details {
  border-right: 1px solid white;
}
