#weather {
  height: 100%;
}
.card {
  background-color: #fff;
  min-width: 100%;
  min-height: 80px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card::-webkit-scrollbar {
  display: none;
}

.word-btn {
  cursor: pointer;
}

.location-city {
  font-weight: bold;
}

.location-state {
  font-size: large;
  font-weight: bold;
  color: grey;
}

#weekly-weather-screen {
  z-index: 5;
  position: fixed;
  background-color: cornflowerblue;
  color: white;
  top: 0;
  right: 100%;
  width: 100%;
  height: 135%;
  overflow: hidden;
}

p .location-state:last-child {
  color: lightgrey;
  font-size: small;
}
