.card--content {
  min-width: 60px;
  max-height: 100px;
  margin: 0 3px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid gray;
  background-color: lightgrey;
}

.hourly-icon {
  min-width: 50px;
  max-width: 50px;
}

.card--content:first-child {
  background-color: cornflowerblue;
  font-weight: bold;
  color: white;
}

.card--content:last-child {
  margin-right: auto;
}
