.day {
  min-width: 100px;
  text-align: left;
  padding-bottom: 0;
  margin-bottom: 0;
}

.temperature {
  min-width: 60px;
  margin-bottom: 0;
}

.temp-low {
  font-weight: bold;
  font-size: large;
}

.temp-high {
  color: lightgrey;
  font-size: medium;
}
