#search-bar-container {
  visibility: hidden;
}
.notVisible {
  z-index: 100;
}
#hamburger_icon span {
  display: block;
  margin: 4px;
  margin-bottom: 10px;
  height: 9px;
  width: 60px;
  background: cornflowerblue;
  border-radius: 9px;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

#hamburger:checked ~ #hamburger_icon {
  transform: rotate(360deg);
  transition: all 0.4s ease-out;
}
#hamburger:not(:checked) ~ #hamburger_icon {
  transform: rotate(-360deg);
  transition: all 0.4s ease-out;
}
#hamburger:checked ~ #hamburger_icon span:nth-child(1) {
  transform: translateX(0px) translateY(20px) rotate(-135deg);
  transition: all 0.3s ease;
}

#hamburger:checked ~ #hamburger_icon span:nth-child(2) {
  opacity: 0;
}

#hamburger:checked ~ #hamburger_icon span:nth-child(3) {
  transform: translateY(-19px) rotate(135deg);
  transition: all 0.3s ease;
}

#hamburger:not(:checked) ~ #hamburger_icon span {
  transform: translateX(0px) translatey(0px) rotate(0deg);
  transition: all 0.3s ease;
}

#hamburger:not(:checked) ~ #hamburger_icon span:nth-child(2) {
  opacity: 1;
  transform: rotate(360deg);
  transition: all 0.3s ease-in;
}

#hamburger:not(:checked) ~ #hamburger_icon span:nth-child(3) {
  transform: translateX(0) rotate(0deg);
  color: purple;
  transition: all 0.3s ease-in;
}
